<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Habit Tracker</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.png">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<header class="bg-dark text-light p-2">
    <h1>Habit Tracker</h1>
</header>
<main id="app" class="bg-dark-subtle">
    <nav>
        <div class="nav nav-tabs" id="navTab" role="tablist">
            <button class="nav-link" id="navGoalsDrawer" data-bs-toggle="offcanvas" data-bs-target="#goalsDrawer"
                    type="button"
                    role="tab" aria-controls="goalsTab" aria-selected="true">
                Goals
            </button>
            <button class="nav-link active" id="navDashboardTab" data-bs-toggle="tab" data-bs-target="#dashboardTab"
                    type="button" role="tab" aria-controls="homeTab" aria-selected="true">
                Dashboard
            </button>
            <button class="nav-link" id="navCalendarTab" data-bs-toggle="tab" data-bs-target="#calendarTab"
                    type="button" role="tab" aria-controls="homeTab" aria-selected="true" disabled>
                Calendar
            </button>
        </div>
    </nav>
    <div class="container-md">
        <div class="tab-content" id="navTabContent">
            <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" id="goalsDrawer"
                 role="tabpanel" aria-labelledby="navGoalsDrawer"
                 tabindex="0">
                <div class="offcanvas-header">
                    <h2>Goals</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <goal-list-item v-for="goal in goalList"
                                    :goal="goal"
                                    :key="goal.name"
                    ></goal-list-item>
                    <div class="collapse" id="collapseGoalForm">
                        <form @submit.prevent="addGoal">
                            <label for="goalName" class="form-label">Goal: </label>
                            <input id="goalName" class="form-control" type="text" v-model="newGoal.name" required>
                            <label for="goalDays" class="form-label">Days: </label>
                            <input id="goalDays" class="form-control" type="number" v-model="newGoal.maxDays">
                            <button type="submit" class="btn btn-success form-control">Save</button>
                        </form>
                    </div>
                    <div class="d-grid gap-2 d-md-block my-4">
                        <button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#collapseGoalForm"
                                aria-expanded="false" aria-controls="collapseGoalForm">Add goal
                        </button>
                    </div>
                </div>
                <div class="modal fade" id="deleteModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Delete Item</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you would like to delete this item?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show active" id="dashboardTab" role="tabpanel" aria-labelledby="navDashboardTab"
                 tabindex="0">
                <div class="col-sm-12 col-md-8 bg-light border-dark">
                    <h2>Dashboard</h2>
                    <div class="d-flex flex-column">
                        <div class="">

                        </div>
                        <div class="">

                        </div>
                    </div>
                    <div class="scorecard">

                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="calendarTab" role="tabpanel" aria-labelledby="navCalendarTab" tabindex="0">
                <h2>Calendar (WIP)</h2>
            </div>
        </div>
    </div>
    <footer>
        <p class="text-white text-center">Copyright lol</p>
    </footer>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

<!--Vue-->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="js/app.js"></script>
<!--Data-->
<script src="js/models/Goal.js"></script>
<!--Components-->
<script src="js/components/GoalListItem.js"></script>
<script>
    app.mount('#app');
</script>

</body>
</html>